@charset "UTF-8";

body {
	/* 	padding-top: 50px; */

}

html, body, .login_content {
	height: 100%;
}

.sidebar {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	z-index: 100; /* Behind the navbar */
	padding: 50px 0 0; /* Height of navbar */
	box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
	position: relative;
	top: 0;
	height: calc(100vh - 50px);
	padding-top: .5rem;
	overflow-x: hidden;
	overflow-y: auto;
	/* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
	font-weight: 500;
	color: #333;
}

.submenu {
	display: none;
}

[role="main"] {
	padding-top: 50px; /* Space for fixed navbar */
	bottom: 0;
}

.main {
	/* 	padding-top: 50px;
	padding-left: 20px; */
	/* position: fixed; */ */
	/* 	display: block;
	top: 0px;
	bottom: 0;
	overflow-y: auto; */

}

.page-header {
	margin-top: 0px;
}

.page-header h1 {
	font-size: 20px;
	font-weight: 600;
}

.zeikomi {
	font-size: x-small;
}

.required {
	color: #ff0000;
}

.form-left {
	padding-right: 0;
}

.form-right {
	padding-left: 0;
}

.form-middle {
	padding: 0;
}

.btnLabel {
	padding-left: 30px;
}

/* .table th{
	text-align: right;
} */