@charset "UTF-8";

body {
	padding-top: 50px;
}

html, body, .login_content {
	height: 100%;
}

.sidebar {
	position: fixed;
	display: block;
	top: 50px;
	bottom: 0;
	background-color: #f4f5f7;
}

.submenu {
	display: none;
}

.main {
	padding-top: 50px;
	padding-left: 20px;
	position: fixed;
	display: block;
	top: 0px;
	bottom: 0;
	overflow-y: auto;
}

.page-header {
	margin-top: 0px;
}

.page-header h1 {
	font-size: 20px;
	font-weight: 600;
}

.zeikomi {
	font-size: x-small;
}

.required {
	color: #ff0000;
}

.form-left {
	padding-right: 0;
}

.form-right {
	padding-left: 0;
}

.form-middle {
	padding: 0;
}

.btnLabel {
	padding-left: 30px;
}

/* .table th{
	text-align: right;
} */