<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8"></meta>
</head>
<body>
	<!-- ポイント：th:fragment -->
	<div th:fragment="classDetailList_contents">
		<div
			class="page-header d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
			<h1>
				<i class="fas fa-chalkboard-teacher"></i>&nbsp;授業一覧
			</h1>
		</div>
		<!-- <button class="btn btn-primary pull-right"
			onclick="location.href= '/teacher/signup'">新規登録</button> -->
		<div th:if="${message}" class="alert alert-success">
			<p th:text="${message}"></p>
		</div>

		<div class="form-group">
			<form method="get" th:action="@{/classDetailList/search}"
				th:object="${classDetailListForm}">
				<input class="form-control" type="text" id="target"
					th:field="*{date}" /><input class="btn" type="submit" value="検索" />
			</form>
		</div>
		<div class="list">
			<table class="table table-bordered table-hover table-striped">
				<tr>
					<th class="info col-sm-1">授業ID</th>
					<th class="info col-sm-1">日付</th>
					<th class="info col-sm-1">時限</th>
					<th class="info col-sm-1">学年</th>
					<th class="info col-sm-1">生徒</th>
					<th class="info col-sm-1">教科</th>
					<th class="info col-sm-1">講師</th>
					<th class="info col-sm-1"></th>
				</tr>
				<tr th:each="class : ${classList}">
					<td th:text="${class.id}"></td>
					<td th:text="${#dates.format(class.date, 'yyyy/MM/dd')}"></td>
					<td th:text="${class.timedId} + '限'"></td>
					<td th:text="${class.studentGrade}"></td>
					<td th:text="${class.studentName}"></td>
					<td th:text="${class.subjectName}"></td>
					<td th:text="${class.teacherName}"></td>
					<td><a class="btn btn-primary"
						th:href="@{'/classDetail/' + ${class.id}}">詳細</a></td>
				</tr>
			</table>
		</div>
	</div>
</body>
</html>