<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>授業詳細</title>
</head>
<body>
	<div th:fragment="classDetail_contents">
		<div class="row">
			<div class="col-sm-5">
				<div class="page-header d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
					<h1>
						<i class="fas fa-chalkboard-teacher"></i>&nbsp;授業詳細
					</h1>
				</div>
				<form method="post" th:action="@{/classDetail}"
					th:object="${classDetailForm}">
					<div th:if="${message}" class="alert alert-success">
						<p th:text="${message}"></p>
					</div>
					<table class="table table-bordered table-hover">
						<tr>
							<th class="active col-sm-2">授業ID</th>
							<td class="col-sm-3">
								<div class="form-group">
									<input type="text" class="form-control" th:value="*{id}"
										disabled />
										<input type="hidden" th:field="*{id}"/>
								</div>
							</td>
						</tr>
						<tr>
							<th class="active">日付</th>
							<td>
								<div class="form-group"
									th:classappend="${#fields.hasErrors('date')} ? 'has-error'">
									<input type="text" class="form-control date" th:field="*{date}" />
									<span class="text-danger" th:if="${#fields.hasErrors('date')}"
										th:errors="*{date}"> date error </span>
								</div>
							</td>
						</tr>
						<tr>
							<th class="active">時限</th>
							<td>
								<div class="form-group"
									th:classappend="${#fields.hasErrors('timedId')} ? 'has-error'">
									<!-- 	<input type="text" class="form-control" th:field="*{timedId}" /> -->
									<select class="form-control" th:name="*{timedId}">
										<option value="">---</option>
										<option th:each="item : ${timedList}" th:value="${item.id}"
											th:text="${item.name}" th:selected="${item.id} == *{timedId}"></option>
									</select> <span class="text-danger"
										th:if="${#fields.hasErrors('timedId')}" th:errors="*{timedId}">
										timedId error </span>
								</div>
							</td>
						</tr>
						<tr>
							<th class="active">生徒</th>
							<td>
								<div class="form-group"
									th:classappend="${#fields.hasErrors('student')} ? 'has-error'">
									<input type="text" class="form-control" th:field="*{student}" disabled />
									<span class="text-danger"
										th:if="${#fields.hasErrors('student')}"
										th:errors="*{student}"> student error </span>
								</div>
							</td>
						</tr>
						<tr>
							<th class="active">教科</th>
							<td>
								<div class="form-group"
									th:classappend="${#fields.hasErrors('subjectId')} ? 'has-error'">
									<!-- <input type="text" class="form-control" th:field="*{subjectId}" /> -->
									<select class="form-control" th:name="*{subjectId}">
										<option value="">---</option>
										<option th:each="item : ${subjectList}" th:value="${item.id}"
											th:text="${item.name}"
											th:selected="${item.id} == *{subjectId}"></option>
									</select> <span class="text-danger"
										th:if="${#fields.hasErrors('subjectId')}"
										th:errors="*{subjectId}"> subjectId error </span>
								</div>
							</td>
						</tr>
						<tr>
							<th class="active">講師</th>
							<td>
								<div class="form-group"
									th:classappend="${#fields.hasErrors('teacherId')} ? 'has-error'">
									<!-- <input type="text" class="form-control" th:field="*{teacherId}" /> -->
									<select class="form-control" th:name="*{teacherId}">
										<option value="">---</option>
										<option th:each="item : ${teacherList}" th:value="${item.id}"
											th:text="${item.name}"
											th:selected="${item.id} == *{teacherId}"></option>
									</select> <span class="text-danger"
										th:if="${#fields.hasErrors('teacherId')}"
										th:errors="*{teacherId}"> teacherId error </span>
								</div>
							</td>
						</tr>
					</table>
					<!-- 登録 -->
					<!-- <button th:if="${isNew}" class="btn btn-primary btn-lg pull-right"
						type="submit" name="register">登録</button> -->
					<!-- 更新 -->
					<button class="btn btn-primary btn-lg pull-right" id="updateBtn"
						type="button" name="update">更新</button>
					<!-- 削除 -->
					<button class="btn btn-danger btn-lg" id="deleteBtn" type="button"
						name="delete">削除</button>
				</form>
			</div>
		</div>
		<script type="text/javascript" th:inline="javascript">
			/*<![CDATA[*/
			$(function() {

			})
			/*]]>*/
		</script>
	</div>
</body>

</html>