<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>コース詳細</title>
</head>
<body>
	<div th:fragment="courseDetail_contents">
		<div class="row">
			<div class="col-sm-5">
				<div class="page-header d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
					<h1>コース詳細</h1>
				</div>
				<form method="post" th:action="@{/course/register}"
					th:object="${courseForm}">
					<span th:text="${message}"></span>
					<table class="table table-bordered table-hover">
						<tr>
							<th class="active col-sm-2">コースID</th>
							<td class="col-sm-3">
								<div class="form-group">
									<input type="text" class="form-control" th:field="*{id}"
										readonly="readonly" />
								</div>
							</td>
						</tr>
						<tr>
							<th class="active">コース名</th>
							<td>
								<div class="form-group"
									th:classappend="${#fields.hasErrors('name')} ? 'has-error'">
									<input type="text" class="form-control" th:field="*{name}" />
									<span class="text-danger" th:if="${#fields.hasErrors('name')}"
										th:errors="*{name}"> name error </span>
								</div>
							</td>
						</tr>
						<tr>
							<th class="active">別名</th>
							<td>
								<div class="form-group"
									th:classappend="${#fields.hasErrors('alias')} ? 'has-error'">
									<input type="text" class="form-control" th:field="*{alias}" />
									<span class="text-danger" th:if="${#fields.hasErrors('alias')}"
										th:errors="*{alias}"> alias error </span>
								</div>
							</td>
						</tr>
						<tr>
							<th class="active">月額学費（税込）</th>
							<td>
								<div class="form-group"
									th:classappend="${#fields.hasErrors('fee')} ? 'has-error'">
									<input type="text" class="form-control" th:field="*{fee}" /> <span
										class="text-danger" th:if="${#fields.hasErrors('fee')}"
										th:errors="*{fee}"> fee error </span>
								</div>
							</td>
						</tr>
						<tr>
							<th class="active">授業１</th>
							<td>
								<div class="form-group"
									th:classappend="${#fields.hasErrors('lesson1')} ? 'has-error'">
									<select class="form-control">
										<option value="">---</option>
										<option th:each="item : ${lesson}" th:value="${item.id}"
											th:text="${item.name}" th:selected="${item.id} == *{lesson1}">pulldown</option>
									</select> <!-- <input type="text" class="form-control" th:field="*{lesson1}" /> -->
									<span class="text-danger"
										th:if="${#fields.hasErrors('lesson1')}" th:errors="*{lesson1}">
										lesson1 error </span>
								</div>
							</td>
						</tr>
						<tr>
							<th class="active">授業２</th>
							<td>
								<div class="form-group"
									th:classappend="${#fields.hasErrors('lesson2')} ? 'has-error'">
									<select class="form-control">
										<option value="">---</option>
										<option th:each="item : ${lesson}" th:value="${item.id}"
											th:text="${item.name}" th:selected="${item.id} == *{lesson2}">pulldown</option>
									</select>
									<!-- <input type="text" class="form-control" th:field="*{lesson2}" /> -->
									<span class="text-danger"
										th:if="${#fields.hasErrors('lesson2')}" th:errors="*{lesson2}">
										lesson2 error </span>
								</div>
							</td>
						</tr>
						<tr>
							<th class="active">授業３</th>
							<td>
								<div class="form-group"
									th:classappend="${#fields.hasErrors('lesson3')} ? 'has-error'">
									<select class="form-control">
										<option value="">---</option>
										<option th:each="item : ${lesson}" th:value="${item.id}"
											th:text="${item.name}" th:selected="${item.id} == *{lesson3}">pulldown</option>
									</select>
									<!-- <input type="text" class="form-control" th:field="*{lesson3}" /> -->
									<span class="text-danger"
										th:if="${#fields.hasErrors('lesson3')}" th:errors="*{lesson3}">
										lesson3 error </span>
								</div>
							</td>
						</tr>
						<tr>
							<th class="active">授業４</th>
							<td>
								<div class="form-group"
									th:classappend="${#fields.hasErrors('lesson4')} ? 'has-error'">
									<select class="form-control">
										<option value="">---</option>
										<option th:each="item : ${lesson}" th:value="${item.id}"
											th:text="${item.name}" th:selected="${item.id} == *{lesson4}">pulldown</option>
									</select>
									<!-- <input type="text" class="form-control" th:field="*{lesson4}" /> -->
									<span class="text-danger"
										th:if="${#fields.hasErrors('lesson4')}" th:errors="*{lesson4}">
										lesson4 error </span>
								</div>
							</td>
						</tr>
					</table>
					<!-- 登録 -->
					<button th:if="${isNew}" class="btn btn-primary btn-lg pull-right"
						type="submit" name="register">登録</button>
					<!-- 更新 -->
					<button th:unless="${isNew}"
						class="btn btn-primary btn-lg pull-right" id="updateBtn"
						type="button" name="update">更新</button>
					<!-- 削除 -->
					<button th:unless="${isNew}" class="btn btn-danger btn-lg"
						type="button" name="delete">削除</button>
				</form>
			</div>
		</div>
	</div>
</body>
</html>