<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8"></meta>
</head>
<body>
	<!-- ポイント：th:fragment -->
	<div th:fragment="createSchedule_contents">
		<div class="col-sm-5">
			<div class="page-header d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
				<h1>スケジュール作成</h1>
			</div>
			<form method="post" th:action="@{/schedule}"
				th:object="${scheduleForm}">
				<div th:if="${message}" class="alert alert-success">
					<p th:text="${message}"></p>
				</div>
				<div th:if="${error}" class="alert alert-danger">
					<p th:text="${error}"></p>
				</div>
				<div class="form-inline">
					<input type="month" th:field="*{month}" />
					<!-- 更新 -->
					<button class="btn btn-primary btn-lg pull-right" type="submit"
						name="create">作成</button>
					<button class="btn btn-primary btn-lg pull-right" type="submit"
						name="delete">削除</button>
				</div>

			</form>
		</div>
	</div>
</body>
<script type="text/javascript" th:inline="javascript">
	/*<![CDATA[*/

	/*]]>*/
</script>
</html>