<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"></meta>

<!-- Bootstrapの設定 -->
<link th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}"
	rel="stylesheet"></link>
<script th:src="@{/webjars/jquery/1.11.1/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>

<title>Login</title>
</head>
<body class="text-center">
	<div class="col-sm-4 col-sm-offset-4">
		<h1 style="font-weight: 600;">学習管理システム</h1>
		<h3 style="font-weight: 600;">塾管理Web</h3>

		<form method="post" th:action="@{/login}">
			<!-- ログインエラ〜メッセージの表示 -->
			<div th:if="${session['SPRING_SECURITY_LAST_EXCEPTION']} != null"
				class="alert alert-danger">
				<p th:text="${session['SPRING_SECURITY_LAST_EXCEPTION'].message}">ログインエラーメッセージ</p>
			</div>


			<!-- ユーザーID -->
			<label for="username" class="sr-only"></label> <input
				class="form-control" type="text" id="username" name="username"
				placeholder="ユーザID" />
			<!-- パスワード -->
			<label for="password" class="sr-only"></label> <input
				class="form-control" type="password" id="password" name="password"
				placeholder="パスワード" /><br /> <br />
			<!-- ログインボタン -->
			<button class="btn btn-primary my-1" type="submit">Sign In</button>
		</form>

		<br />
		<!-- ユーザー登録画面へのリンク -->
		<a th:href="@{'/signup'}">ユーザー新規登録はこちら</a>
	</div>
</body>
</html>