<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>生徒情報詳細</title>
</head>
<body>
	<div th:fragment="studentDetail_contents">
		<div class="row">
			<div class="col-sm-12">
				<div class="page-header">
					<h1>
						<i class="fas fa-user-graduate"></i>&nbsp;&nbsp;生徒情報詳細
					</h1>
				</div>
				<div th:if="${message}" class="alert alert-success">
					<p th:text="${message}"></p>
				</div>
			</div>
			<form method="post" th:action="@{/studentDetail}"
				th:object="${studentForm}">
				<div class="col-sm-5">
					<table class="table table-bordered table-hover">
						<tr>
							<th class="active col-sm-2">生徒ID</th>
							<td class="col-sm-3">
								<div class="form-group">
									<input type="text" class="form-control" th:field="*{id}"
										readonly="readonly" />
								</div>
							</td>
						</tr>
						<tr>
							<th class="active"><span class="required">*</span>&nbsp;氏名</th>
							<td>
								<div class="row">
									<div class="form-group col-sm-6 form-left"
										th:classappend="${#fields.hasErrors('lastName')} ? 'has-error'">
										<input type="text" class="form-control" placeholder="（姓）"
											th:field="*{lastName}" /> <span class="text-danger"
											th:if="${#fields.hasErrors('lastName')}"
											th:errors="*{lastName}"> lastName error </span>
									</div>
									<div class="form-group col-sm-6 form-right"
										th:classappend="${#fields.hasErrors('firstName')} ? 'has-error'">
										<input type="text" class="form-control" placeholder="（名）"
											th:field="*{firstName}" /> <span class="text-danger"
											th:if="${#fields.hasErrors('firstName')}"
											th:errors="*{firstName}"> firstName error </span>
									</div>
								</div>
							</td>
						</tr>
						<tr>
							<th class="active"><span class="required">*</span>&nbsp;カナ氏名</th>
							<td>
								<div class="row">
									<div class="form-group col-sm-6 form-left"
										th:classappend="${#fields.hasErrors('lastKana')} ? 'has-error'">
										<input type="text" class="form-control" placeholder="（カナ姓）"
											th:field="*{lastKana}" /> <span class="text-danger"
											th:if="${#fields.hasErrors('lastKana')}"
											th:errors="*{lastKana}"> lastKana error </span>
									</div>
									<div class="form-group col-sm-6 form-right"
										th:classappend="${#fields.hasErrors('firstKana')} ? 'has-error'">
										<input type="text" class="form-control" placeholder="（カナ名）"
											th:field="*{firstKana}" /> <span class="text-danger"
											th:if="${#fields.hasErrors('firstKana')}"
											th:errors="*{firstKana}"> firstKana error </span>
									</div>
								</div>
							</td>
						</tr>
						<tr>
							<th class="active">性別</th>
							<td><div class="form-group">
									<label class="radio-inline btnLabel" for="gender1"> <input
										type="radio" class="btn-check" th:field="*{gender}"
										value="unknown" autocomplete="off" checked> 不明
									</label> <label class="radio-inline btnLabel" for="gender2"> <input
										type="radio" class="btn-check" th:field="*{gender}"
										value="male" autocomplete="off"> 男性
									</label> <label class="radio-inline btnLabel" for="gender3"> <input
										type="radio" class="btn-check" th:field="*{gender}"
										value="female" autocomplete="off"> 女性
									</label>
								</div></td>
						</tr>
						<tr>
							<th class="active"><span class="required">*</span>&nbsp;学年</th>
							<td>
								<div class="form-group"
									th:classappend="${#fields.hasErrors('grade')} ? 'has-error'">
									<select class="form-control" name="grade">
										<option value="">---</option>
										<option th:each="item : ${gradeList}" th:value="${item.id}"
											th:text="${item.name}" th:selected="${item.id} == *{grade}">pulldown</option>
									</select> <span class="text-danger"
										th:if="${#fields.hasErrors('grade')}" th:errors="*{grade}">
										grade error </span>
								</div>
							</td>
						</tr>
						<tr>
							<th class="active">生年月日</th>
							<td>
								<div class="form-group"
									th:classappend="${#fields.hasErrors('birthday')} ? 'has-error'">
									<input type="date" class="form-control" th:field="*{birthday}" />
									<span class="text-danger"
										th:if="${#fields.hasErrors('birthday')}"
										th:errors="*{birthday}"> birthday error </span>
								</div>
							</td>
						</tr>
						<tr>
							<th class="active">学校名</th>
							<td>
								<div class="form-group"
									th:classappend="${#fields.hasErrors('school')} ? 'has-error'">
									<input type="text" class="form-control" th:field="*{school}" />
									<span class="text-danger"
										th:if="${#fields.hasErrors('school')}" th:errors="*{school}">
										school error </span>
								</div>
							</td>
						</tr>
						<tr>
							<th class="active">保護者名</th>
							<td>
								<div class="form-group"
									th:classappend="${#fields.hasErrors('parentsName')} ? 'has-error'">
									<input type="text" class="form-control" placeholder="（名）"
										th:field="*{parentsName}" /> <span class="text-danger"
										th:if="${#fields.hasErrors('parentsName')}"
										th:errors="*{parentsName}"> parentsName error </span>
								</div>
							</td>
						</tr>
						<tr>
							<th class="active">電話番号</th>
							<td>
								<div class="form-group"
									th:classappend="${#fields.hasErrors('phoneNumber')} ? 'has-error'">
									<input type="text" class="form-control"
										placeholder="（例）07012345678" th:field="*{phoneNumber}" /> <span
										class="text-danger"
										th:if="${#fields.hasErrors('phoneNumber')}"
										th:errors="*{phoneNumber}"> phoneNumber error </span>
								</div>
							</td>
						</tr>
						<tr>
							<th class="active">メールアドレス</th>
							<td>
								<div class="form-group"
									th:classappend="${#fields.hasErrors('mailAddress')} ? 'has-error'">
									<input type="text" class="form-control"
										placeholder="（例）yamadatarou@gmail.com"
										th:field="*{mailAddress}" /> <span class="text-danger"
										th:if="${#fields.hasErrors('mailAddress')}"
										th:errors="*{mailAddress}"> mailAddress error </span>
								</div>
							</td>
						</tr>
						<tr>
							<th class="active">郵便番号</th>
							<td>
								<div class="form-group"
									th:classappend="${#fields.hasErrors('zipcode')} ? 'has-error'">
									<input type="text" class="form-control"
										placeholder="（例）3310815" th:field="*{zipcode}" /> <span
										class="text-danger" th:if="${#fields.hasErrors('zipcode')}"
										th:errors="*{zipcode}"> zipcode error </span>
								</div>
							</td>
						</tr>
						<tr>
							<th class="active">住所</th>
							<td>
								<div class="form-group"
									th:classappend="${#fields.hasErrors('address')} ? 'has-error'">
									<textarea class="form-control" th:field="*{address}"
										placeholder="（例）東京都千代田区霞が関 2-1-6 霞が関ビル607"></textarea>
									<span class="text-danger"
										th:if="${#fields.hasErrors('address')}" th:errors="*{address}">
										address error </span>
								</div>
							</td>
						</tr>
						<!-- <tr>
							<th class="active"><span class="required">*</span>&nbsp;コース</th>
							<td>
								<div class="form-group"
									th:classappend="${#fields.hasErrors('course')} ? 'has-error'">
									<select class="form-control" name="course">
										<option value="">---</option>
										<option th:each="item : ${courseList}" th:value="${item.id}"
											th:text="${item.name}" th:selected="${item.id} == *{course}">pulldown</option>
									</select>
									<input type="text" class="form-control" th:field="*{course}" />
									<span class="text-danger"
										th:if="${#fields.hasErrors('course')}" th:errors="*{course}">
										course error </span>
								</div>
							</td>
						</tr> -->
					</table>
				</div>
				<div class="col-sm-5">
					<table class="table table-bordered table-responsive">
						<tr>
							<th class="active col-sm-2"><span class="required">*</span>&nbsp;コース</th>
							<td class="col-sm-3">
								<div class="form-group"
									th:classappend="${#fields.hasErrors('course')} ? 'has-error'">
									<select class="form-control" name="course">
										<option value="">---</option>
										<option th:each="item : ${courseList}" th:value="${item.id}"
											th:text="${item.name}" th:selected="${item.id} == *{course}">pulldown</option>
									</select> <span class="text-danger"
										th:if="${#fields.hasErrors('course')}" th:errors="*{course}">
										course error </span>
								</div>
							</td>
						</tr>
					</table>
				</div>
				<!-- <tr>
						<th class="active col-sm-2 align-middle">週あたり授業回数</th>
						<td class="col-sm-3 align-middle">
							<div class="form-group">
								<input type="text" class="form-control" readonly="readonly" />
							</div>
						</td>
					</tr> -->
				<div class="col-sm-5">
					<table class="table table-bordered table-responsive table-sm">
						<caption align="top">授業</caption>
						<thead>
							<tr>
								<th></th>
								<td>科目</td>
								<td>曜日</td>
								<td>時限</td>
								<td>担当講師</td>
								<td></td>
							</tr>
						</thead>
						<tbody>
							<th:block th:each="cla, stat : *{classes}">
								<tr>
									<th class="active align-middle" th:text="${stat.count}"></th>
									<td class=" align-middle"><input type="hidden"
										th:field="*{classes[__${stat.index}__].studentId}" /> <select
										class="form-control input-sm"
										th:name="|classes[${stat.index}].subjectId|">
											<option value="">---</option>
											<option th:each="item : ${subjectList}" th:value="${item.id}"
												th:text="${item.name}"
												th:selected="${item.id} == *{classes[__${stat.index}__].subjectId}"></option>
									</select></td>
									<td class="align-middle"><select
										class="form-control input-sm"
										th:name="|classes[${stat.index}].dayId|"><option
												value="">---</option>
											<option value="1"
												th:selected="*{classes[__${stat.index}__].dayId} == 1">日</option>
											<option value="2"
												th:selected="*{classes[__${stat.index}__].dayId} == 2">月</option>
											<option value="3"
												th:selected="*{classes[__${stat.index}__].dayId} == 3">火</option>
											<option value="4"
												th:selected="*{classes[__${stat.index}__].dayId} == 4">水</option>
											<option value="5"
												th:selected="*{classes[__${stat.index}__].dayId} == 5">木</option>
											<option value="6"
												th:selected="*{classes[__${stat.index}__].dayId} == 6">金</option>
											<option value="7"
												th:selected="*{classes[__${stat.index}__].dayId} == 7">土</option>
									</select></td>
									<td class=" align-middle"><select
										class="form-control input-sm"
										th:name="|classes[${stat.index}].timedId|">
											<option value="">---</option>
											<option th:each="item : ${timedList}" th:value="${item.id}"
												th:text="${item.name}"
												th:selected="${item.id} == *{classes[__${stat.index}__].timedId}"></option>
									</select></td>
									<td class=" align-middle"><select
										class="form-control input-sm"
										th:name="|classes[${stat.index}].teacherId|">
											<option value="">---</option>
											<option th:each="item : ${teacherList}" th:value="${item.id}"
												th:text="${item.name}"
												th:selected="${item.id} == *{classes[__${stat.index}__].teacherId}"></option>
									</select></td>
									<td><button type="submit" class="btn btn-sm" name="remove"
											th:value="${stat.index}">行削除</button></td>
								</tr>
							</th:block>
						</tbody>
					</table>
					<button class="btn btn-sm" type="submit" name="add">行追加</button>

					<br> <br>
					<!-- 更新 -->
					<button class="btn btn-primary btn-lg pull-right" type="submit"
						name="update">更新</button>
					<!-- 削除 -->
					<button class="btn btn-danger btn-lg" type="submit" name="delete">削除</button>
				</div>
			</form>
		</div>
	</div>
	<script type="text/javascript" th:inline="javascript">
		/*<![CDATA[*/

		/*]]>*/
	</script>

</body>

</html>