<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8"></meta>
</head>
<body>
	<!-- ポイント：th:fragment -->
	<div th:fragment="timetable_contents">
		<div class="page-header">
			<h1>時間割管理</h1>
		</div>
		<form method="post" th:action="@{/timetable/update}"
			th:object="${timetableForm}">
			<div th:if="${message}" class="alert alert-success">
				<p th:text="${message}"></p>
			</div>
			<table class="table table-bordered table-striped">
				<th:block th:if="${stat.count==1}"
					th:each="entry, stat : ${timetable}">
					<thead>
						<tr>
							<th></th>
							<th:block th:each="timed: ${entry.value}">
								<td th:text="${timed.day}"></td>
							</th:block>
						</tr>
					</thead>
				</th:block>
				<th:block th:each="entry : ${timetable}">
					<tbody>
						<tr>
							<th th:text="${entry.key} + '限'"></th>
							<th:block th:each="timed : ${entry.value}">
								<!-- <td th:text="${timed.timedId}"></td> -->
								<td><input type="checkbox" th:checked="${timed.isOpen}" /></td>
							</th:block>
						</tr>
					</tbody>
				</th:block>

				<!-- <thead>
					<tr>
						<th></th>
						<th:block th:each="entry, stat : ${timetable}">
							<td th:text="${entry.key}"></td>
						</th:block>
					</tr>
				</thead>

				<th:block th:each="entry, stat : ${timetable}">
					<th:block th:each="timed, st : ${entry.value}">
						<tr>
							<th th:if="${st.count==1}" th:text="${timed.timedId}"></th>

							<td th:text="${timed.timedId}"></td>
							<td th:text="${timed.isOpen}"></td>

						</tr>
						</tbody>
					</th:block>
				</th:block> -->
			</table>
			<!-- 更新 -->
			<button class="btn btn-primary btn-lg pull-right" type="submit"
				name="update">更新</button>
		</form>
	</div>
</body>
<script type="text/javascript" th:inline="javascript">
	/*<![CDATA[*/

	/*]]>*/
</script>
</html>