<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8"></meta>
</head>
<body>
	<!-- ポイント：th:fragment -->
	<div th:fragment="timed_contents">
		<div class="col-sm-5">
			<div class="page-header">
				<h1>時限管理</h1>
			</div>
			<form method="post" th:action="@{/timed/update}"
				th:object="${timedForm}">
				<div th:if="${message}" class="alert alert-success">
					<p th:text="${message}"></p>
				</div>
				<table class="table table-bordered table-striped">
					<tr>
						<th class="info col-sm-1">#</th>
						<th class="info col-sm-1">時限</th>
						<th class="info col-sm-1">開始時間</th>
						<th class="info col-sm-1">終了時間</th>
						<th class="info col-sm-1"></th>
					</tr>
					<tr th:each="timed, stat : ${timedList}">
						<td th:text="${timed.id}"></td>
						<td><input type="text" readonly class="form-control"
							th:name="|timedList[${stat.index}].name|"
							th:value="${timed.name}" /></td>
						<td><input type="time" class="form-control"
							placeholder="開始時刻" th:name="|timedList[${stat.index}].startTime|"
							th:value="${timed.startTime}" /></td>
						<td><input type="time" class="form-control"
							placeholder="終了時刻" th:name="|timedList[${stat.index}].endTime|"
							th:value="${timed.endTime}" /></td>
						<td></td>
						<input type="hidden" th:name="|timedList[${stat.index}].id|"
							th:value="${timed.id}" />
					</tr>
				</table>
				<!-- 更新 -->
				<button class="btn btn-primary btn-lg pull-right" type="submit"
					name="update">更新</button>
			</form>
		</div>
	</div>
</body>
<script type="text/javascript" th:inline="javascript">
	/*<![CDATA[*/

	/*]]>*/
</script>
</html>