<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- <mapper> -->
<mapper
	namespace="com.example.demo.login.domain.repository.mybatis.AttendLeaveMapper">

	<insert id="insert" parameterType="com.example.demo.login.domain.model.AttendLeave">
INSERT INTO attend_leave(
    student_id,
    date,
    attend_datetime
)
VALUES(
    #{ studentId },
    CURRENT_DATE,
    CURRENT_TIMESTAMP
)
	</insert>
	<insert id="insertLeave" parameterType="com.example.demo.login.domain.model.AttendLeave">
INSERT INTO attend_leave(
    student_id,
    date,
    leave_datetime
)
VALUES(
    #{ studentId },
    CURRENT_DATE,
    CURRENT_TIMESTAMP
)
	</insert>
	<update id="update" parameterType="com.example.demo.login.domain.model.AttendLeave">
UPDATE
    attend_leave
SET
    leave_datetime = CURRENT_TIMESTAMP
WHERE
    student_id = #{ studentId }
AND date = CURRENT_DATE
AND attend_datetime IS NOT NULL
AND leave_datetime IS NULL

	</update>
	<select id="findAlreadyAttend" resultType="integer"
	parameterType="com.example.demo.login.domain.model.AttendLeave">
SELECT
    count(*)
FROM
    attend_leave
WHERE
    student_id = #{ studentId }
AND date = CURRENT_DATE
AND attend_datetime IS NOT NULL
AND leave_datetime IS NULL
	</select>
	<select id="findAttendance" parameterType="com.example.demo.login.domain.model.dto.SearchAttendDto"
	resultType="com.example.demo.login.domain.model.dto.AttendListDto">
SELECT
    al.id,
    s.id as student_id,
    s.name as student_name,
    g.name as grade,
    al.attend_datetime,
    al.leave_datetime
FROM
    attend_leave al
    INNER JOIN
        student s
    ON  al.student_id = s.id
    INNER JOIN
        grade g
    ON  s.grade = g.id
<where>
	<if test="searchDate != null" >
		AND al.date = #{ searchDate }
	</if>
	<if test="searchGrade != null">
		AND s.grade = #{ searchGrade }
	</if>
	<if test="searchName != null">
		AND s.name like '%' || #{ searchName } || '%'
	</if>
</where>
ORDER BY
	al.id ASC
	</select>

</mapper>