<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- <mapper> -->
<mapper
	namespace="com.example.demo.login.domain.repository.mybatis.ClassDetailMapper">
	<resultMap
		type="com.example.demo.login.domain.model.dto.ClassDetailDto"
		id="classDetail">
		<id column="id" property="id" />
		<result column="date" property="date" />
		<result column="timed_id" property="timedId" />
		<result column="student_grade" property="studentGrade" />
		<result column="student_name" property="studentName" />
		<result column="subject_name" property="subjectName" />
		<result column="teacher_name" property="teacherName" />
		<association property="timed" javaType="com.example.demo.login.domain.model.Timed">
			<id column="id" property="id" />
			<result column="start_time" property="startTime" />
			<result column="end_time" property="endTime" />
		</association>
	</resultMap>


	<select id="findClass" resultMap="classDetail"
		parameterType="java.sql.Date">
SELECT
    cd.id,
    cd.date,
    cd.timed_id,
    mt.start_time,
    mt.end_time,
    g.name as student_grade,
    s.name as student_name,
    ms.name as subject_name,
    t.name as teacher_name
FROM
    class_detail cd
    LEFT OUTER JOIN
        student s
    ON  cd.student_id = s.id
    LEFT OUTER JOIN
        grade g
    ON  s.grade = g.id
    LEFT OUTER JOIN
        m_subject ms
    ON  cd.subject_id = ms.id
    LEFT OUTER JOIN
        teacher t
    ON  cd.teacher_id = t.id
    LEFT OUTER JOIN
    	m_timed mt
    ON  cd.timed_id = mt.id
WHERE
    cd.date = #{ date }
ORDER BY
    cd.timed_id ASC,
    g.id ASC
	</select>
	<select id="selectOne" parameterType="integer"
	resultType="com.example.demo.login.domain.model.ClassDetail">
		SELECT
			cd.id
			,cd.date
			,cd.timed_id
			,s.name as student
			,cd.subject_id
			,cd.teacher_id
			,cd.report
			,cd.delete_flg
		FROM
			class_detail cd
				LEFT OUTER JOIN student s
					ON cd.student_id = s.id
		WHERE
			cd.id = #{ id }
	</select>


	<insert id="insert" parameterType="string">
INSERT INTO class_detail(
    date,
    student_id,
    subject_id,
    timed_id,
    teacher_id,
    student_class_id,
    delete_flg
)
SELECT
    cs.date,
    sc.student_id,
    sc.subject_id,
    sc.timed_id,
    sc.teacher_id,
    sc.id,
    false
FROM
    student_class sc
    INNER JOIN
        class_schedule cs
    ON  sc.day_id = cs.day_id
WHERE
    cs.yearmonth = #{ yearMonth }
	</insert>

	<delete id="delete">
		DELETE
		FROM class_detail
		WHERE date BETWEEN #{
		beginOfMonth } AND #{ endOfMonth }

	</delete>

</mapper>