<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- <mapper> -->
<mapper
	namespace="com.example.demo.login.domain.repository.mybatis.MEmployeeMapper">
	<resultMap type="com.example.demo.login.domain.model.Employee"
		id="employee">
		<id column="id" property="id" />
		<result column="name" property="name" />
		<result column="birthday" property="birthday" />
		<result column="role" property="role" />
		<result column="password" property="password" />
	</resultMap>
	<insert id="insert" parameterType="com.example.demo.login.domain.model.Employee">
	<selectKey keyProperty="id" order="BEFORE" resultType="string">
		SELECT lpad(cast(nextval('memployee_id_seq') as character varying), 8,'0')
	</selectKey>
		INSERT INTO
		m_employee
		VALUES
		(
			#{ id }
			,#{ name }
			,#{ birthday }
			,#{ role }
			,#{ password }
		)
	</insert>

	<select id="selectOne" parameterType="string"
		resultType="com.example.demo.login.domain.model.Employee">
		SELECT
		id
		,name
		,birthday
		,password
		FROM
		m_employee
		WHERE
		id = #{ id }
	</select>
</mapper>