<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- <mapper> -->
<mapper
	namespace="com.example.demo.login.domain.repository.mybatis.MTimetableMapper">
	<resultMap type="com.example.demo.login.domain.model.Timetable"
		id="timetable">
		<id column="timed_id" property="timedId" />
		<result column="monday" property="monday" />
		<result column="tuesday" property="tuesday" />
		<result column="wednesday" property="wednesday" />
		<result column="thursday" property="thursday" />
		<result column="friday" property="friday" />
		<result column="saturday" property="saturday" />
		<result column="sunday" property="sunday" />
	</resultMap>

	<select id="findAll" resultMap="timetable">
		SELECT
		*
		FROM
		m_timetable
		ORDER BY
		timed_id ASC
	</select>
	<update id="update" parameterType="com.example.demo.login.domain.model.Timetable">
		UPDATE
		m_timetable
		SET
		monday = #{ monday }
		WHERE
		day = #{ day }
		AND timed_id =#{ timedId }
	</update>
	</mapper>