<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- <mapper> -->
<mapper
	namespace="com.example.demo.login.domain.repository.mybatis.StudentMapper">
	<resultMap type="com.example.demo.login.domain.model.Student"
		id="student">
		<id column="id" property="id" />
		<result column="name" property="name" />
		<result column="kana" property="kana" />
		<result column="gender" property="gender" />
		<result column="grade" property="grade" />
		<result column="birthday" property="birthday" />
		<result column="school" property="school" />
		<result column="parents_name" property="parentsName" />
		<result column="phone_number" property="phoneNumber" />
		<result column="mail_address" property="mailAddress" />
		<result column="zipcode" property="zipcode" />
		<result column="address" property="address" />
		<result column="course" property="course" />
		<result column="registered_datetime" property="registeredDatetime" />
		<result column="update_datetime" property="updateDatetime" />
		<collection property="classes" javaType="ArrayList" ofType="com.example.demo.login.domain.model.StudentClass">
			<id column="student_id" property="studentId" />
			<result column="subject_id" property="subjectId" />
			<result column="day_id" property="dayId" />
			<result column="timed_id" property="timedId" />
			<result column="teacher_id" property="teacherId" />
		</collection>
	</resultMap>
	<resultMap type="com.example.demo.login.domain.model.dto.StudentListDto" id="studentList">
		<id column="id" property="id" />
		<result column="name" property="name" />
		<result column="grade" property="grade" />
		<result column="school" property="school" />
		<result column="parents_name" property="parentsName" />
		<result column="phone_number" property="phoneNumber" />
		<result column="mail_address" property="mailAddress" />
		<result column="address" property="address" />
		<result column="course" property="course" />
		<result column="registered_datetime" property="registeredDatetime" />
	</resultMap>

	<insert id="insert"
		parameterType="com.example.demo.login.domain.model.Student">
		INSERT
		INTO
		student
		VALUES
		(
		#{ id }
		,#{ name }
		,#{ kana }
		,#{ gender }
		,#{ grade }
		,#{ birthday }
		,#{ school }
		,#{ parentsName }
		,#{ mailAddress }
		,#{ phoneNumber }
		,#{ zipcode }
		,#{ address }
		,#{ course }
		,current_timestamp
		,null
		)
	</insert>
	<select id="findAll" resultMap="studentList">
select
    student.id,
    student.name,
    grade.name as grade,
    student.school,
    student.parents_name,
    student.phone_number,
    student.mail_address,
    student.address,
    course.name as course,
    student.registered_datetime
from
    student
    inner join
        grade
    on  student.grade = grade.id
    inner join
        course
    on  student.course = course.id
order by
    student.id asc
	</select>
	<select id="selectOne" parameterType="string"
		resultMap="student">
		SELECT
		s.id
		,s.name
		,s.kana
		,s.gender
		,s.grade
		,s.birthday
		,s.school
		,s.parents_name
		,s.mail_address
		,s.phone_number
		,s.zipcode
		,s.address
		,s.course
		,s.registered_datetime
		,s.update_datetime
		,sc.subject_id
		,sc.day_id
		,sc.timed_id
		,sc.teacher_id
		FROM
		student s
			LEFT OUTER JOIN student_class sc
				ON s.id = sc.student_id
		WHERE
		id = #{ id }
	</select>
	<update id="updateOne"
		parameterType="com.example.demo.login.domain.model.Student">
		UPDATE
		student
		SET
		name = #{ name }
		,kana = #{ kana }
		,gender = #{ gender }
		,grade = #{ grade }
		,birthday = #{ birthday }
		,school = #{ school }
		,parents_name = #{ parentsName }
		,phone_number = #{ phoneNumber }
		,mail_address = #{ mailAddress }
		,zipcode = #{ zipcode }
		,address = #{ address }
		,course = #{ course }
		,update_datetime = CURRENT_TIMESTAMP
		WHERE
		id =#{ id }
	</update>
	<delete id="deleteOne"
		parameterType="com.example.demo.login.domain.model.Student">
		DELETE FROM student WHERE id =#{ id }
	</delete>
</mapper>