<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- <mapper> -->
<mapper
	namespace="com.example.demo.login.domain.repository.mybatis.StudentMapper">
	<resultMap type="com.example.demo.login.domain.model.Student"
		id="student">
		<id column="id" property="id" />
		<result column="name" property="name" />
		<result column="grade" property="grade" />
		<result column="school" property="school" />
		<result column="parents_name" property="parentsName" />
		<result column="phone_number" property="phoneNumber" />
		<result column="mail_address" property="mailAddress" />
		<result column="address" property="address" />
		<result column="course" property="course" />
		<result column="registered_datetime" property="registeredDatetime" />
		<result column="update_datetime" property="updateDatetime" />
	</resultMap>
	<resultMap type="com.example.demo.login.domain.model.dto.StudentListDto" id="studentList">
		<id column="id" property="id" />
		<result column="name" property="name" />
		<result column="grade" property="grade" />
		<result column="school" property="school" />
		<result column="patents_name" property="parentsName" />
		<result column="phone_number" property="phoneNumber" />
		<result column="mail_address" property="mailAddress" />
		<result column="address" property="address" />
		<result column="course" property="course" />
		<result column="registered_datetime" property="registeredDatetime" />
	</resultMap>

	<insert id="insert"
		parameterType="com.example.demo.login.domain.model.Student">
		INSERT
		INTO
		student(
		id
		,name
		,grade
		,school
		,parents_name
		,phone_number
		,mail_address
		,address
		,course
		,registered_datetime
		,update_datetime
		)
		VALUES
		(
		#{ id }
		,#{ name }
		,#{ grade }
		,#{ school }
		,#{ parentsName }
		,#{ phoneNumber }
		,#{ mailAddress }
		,#{ address }
		,#{ course }
		,current_timestamp
		,null
		)
	</insert>
	<select id="findAll" resultMap="studentList">
select
    student.id,
    student.name,
    grade.name as grade,
    student.school,
    student.parents_name,
    student.phone_number,
    student.mail_address,
    student.address,
    course.alias as course,
    student.registered_datetime
from
    student
    inner join
        grade
    on  student.grade = grade.id
    inner join
        course
    on  student.course = course.id
order by
    student.id asc
	</select>
	<select id="selectOne" parameterType="string"
		resultType="com.example.demo.login.domain.model.Student">
		SELECT
		*
		FROM
		student
		WHERE
		id = #{ id }
	</select>
	<update id="updateOne"
		parameterType="com.example.demo.login.domain.model.Student">
		UPDATE
		student
		SET
		name = #{ name }
		,grade = #{ grade }
		,school = #{ school }
		,parents_name = #{ parentsName }
		,phone_number = #{ phoneNumber }
		,mail_address = #{ mailAddress }
		,address = #{ address }
		,course = #{ course }
		,update_datetime = CURRENT_TIMESTAMP
		WHERE
		id =#{ id }
	</update>
	<delete id="deleteOne"
		parameterType="com.example.demo.login.domain.model.Student">
		DELETE FROM student WHERE id =#{ id }
	</delete>
</mapper>