<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- <mapper> -->
<mapper
	namespace="com.example.demo.login.domain.repository.mybatis.TeacherMapper">
	<resultMap type="com.example.demo.login.domain.model.Teacher"
		id="teacher">
		<id column="id" property="id" />
		<result column="name" property="name" />
		<result column="kana" property="kana" />
		<result column="gender" property="gender" />
		<result column="birthday" property="birthday" />
		<result column="age" property="age" />
		<result column="university" property="university" />
		<result column="undergraduate" property="undergraduate" />
		<result column="department" property="department" />

		<result column="phone_number" property="phoneNumber" />
		<result column="mail_address" property="mailAddress" />
		<result column="zipcode" property="zipcode" />
		<result column="address" property="address" />
		<result column="note" property="note" />
		<result column="delete_flg" property="deleteFlg" />
		<result column="registered_datetime"
			property="registeredDatetime" />
		<result column="update_datetime" property="updateDatetime" />
		<result column="delete_datetime" property="deleteDatetime" />
		<result column="gradeName" property="gradeName" />

	</resultMap>

		<resultMap type="com.example.demo.login.domain.model.Teacher"
		id="teacherResult">
		<id column="id" property="id" />
		<result column="name" property="name" />
		<result column="kana" property="kana" />
		<result column="gender" property="gender" />
		<result column="birthday" property="birthday" />
		<result column="age" property="age" />
		<result column="university" property="university" />
		<result column="undergraduate" property="undergraduate" />
		<result column="department" property="department" />
		<result column="grade" property="grade" />
		<result column="phone_number" property="phoneNumber" />
		<result column="mail_address" property="mailAddress" />
		<result column="zipcode" property="zipcode" />
		<result column="address" property="address" />
		<result column="note" property="note" />
		<result column="delete_flg" property="deleteFlg" />
		<result column="registered_datetime"
			property="registeredDatetime" />
		<result column="update_datetime" property="updateDatetime" />
		<result column="delete_datetime" property="deleteDatetime" />
		<collection property="subjects" javaType="ArrayList" ofType="string">
			<result column="subject_id" />
		</collection>
	</resultMap>

	<insert id="insert"
		parameterType="com.example.demo.login.domain.model.Teacher">
		INSERT
		INTO
		teacher
		VALUES
		(
		#{ id }
		,#{ name }
		,#{ kana }
		,#{ gender }
		,#{ birthday }
		,#{ university }
		,#{ undergraduate }
		,#{ department }
		,#{ grade }
		,#{ phoneNumber }
		,#{ mailAddress }
		,#{ zipcode }
		,#{ address }
		,#{ note }
		,false
		,current_timestamp
		,null
		,null
		)
	</insert>
	<select id="findAll" resultMap="teacher">
		SELECT
		t.id
		,t.name
		,t.kana
		,t.gender
		,t.birthday
		,date_part('year', age(t.birthday)) as age
		,t.university
		,t.undergraduate
		,t.department
		,g.name as gradeName
		,t.phone_number
		,t.mail_address
		,t.zipcode
		,t.address
		,t.note
		,t.delete_flg
		,t.registered_datetime
		,t.update_datetime
		,t.delete_datetime
		FROM
		teacher t
			LEFT OUTER JOIN grade g
				ON t.grade = g.id
		WHERE
		t.delete_flg = false
		ORDER BY
		t.id ASC
	</select>
	<select id="selectOne" parameterType="string"
		resultType="com.example.demo.login.domain.model.Teacher">
		SELECT
		*
		FROM
		teacher
		WHERE
		id = #{ id }
		AND delete_flg = false
	</select>
	<select id="select" parameterType="string" resultMap="teacherResult">
		SELECT
		t.id
		,t.name
		,t.kana
		,t.gender
		,t.birthday
		,t.university
		,t.undergraduate
		,t.department
		,t.grade
		,t.phone_number
		,t.mail_address
		,t.zipcode
		,t.address
		,t.note
		,t.delete_flg
		,t.registered_datetime
		,t.update_datetime
		,t.delete_datetime
		,ts.subject_id
		FROM
		teacher t
		LEFT OUTER JOIN
			teacher_subject ts
			ON t.id = ts.teacher_id
		WHERE
		t.id = #{ id }
		AND t.delete_flg = false
	</select>
	<update id="updateOne"
		parameterType="com.example.demo.login.domain.model.Teacher">
		UPDATE
		teacher
		SET
		name = #{ name }
		,kana = #{ kana }
		,gender = #{ gender }
		,birthday = #{ birthday }
		,university = #{ university }
		,undergraduate =#{ undergraduate }
		,department =#{ department }
		,grade = #{ grade }
		,phone_number = #{ phoneNumber }
		,mail_address = #{ mailAddress }
		,zipcode = #{ zipcode }
		,address = #{ address }
		,note = #{ note }
		,update_datetime = CURRENT_TIMESTAMP
		WHERE
		id =#{ id }
	</update>
	<delete id="deleteOne"
		parameterType="string">
		UPDATE
		teacher
		SET
		delete_flg = TRUE
		,delete_datetime = CURRENT_TIMESTAMP
		 WHERE
		 id =#{ id }
	</delete>
</mapper>